ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.main {
  margin: 0;
  padding: 5px;
  background-color: #f1f1f1;
}

main > h1, p, .content {
  margin: 10px;
  padding: 5px;
}

.content {
  width: 68%;
  background: white;
}

.content > h2, p {
  margin: 4px;
  font-size: 90%;
}

.aside {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: #ccc;
}

.footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}